{% extends "blog/base.html" %}
{% block title %}
reset password
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}

{% if form.errors %}
    <h1 style="color: red">{{ form.errors }}</h1>
{% endif %}

<h1>password reset</h1>
<p>give us the email associated with your account and we'll send you instructions for setting a new password</p>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit">send email</button>
</form>

{% endblock %}
