<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}my blog{% endblock %}
    </title>
    {% block css %}{% endblock %}
    {% block script %}{% endblock %}
</head>
<body>
    {% if user.is_authenticated %} 
        <p>hello, {{ user.username }}</p>
        <form action="{% url 'logout' %}?next=/" method="post">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
    <a href="{% url 'index' %}"><p>GO HOME</p></a>
    <a href="{% url 'about' %}"><p>about page</p></a>
    {% block content %}
    ayo man you forgot stuff!
    {% endblock %}
</body>
</html>