{% extends "blog/base.html" %}
{% load static %}
{% block title %}
    BLOG
{% endblock %}


{% block content %}

<h1>RECENT BLOGS</h1>
{% for post in posts %}
<div class="blog-list-item">
        <h2><a href="{% url 'blogpost' id=post.id %}">{{ post.title }}</a></h2>
    <p class="subtitle">by: <a href="{% url 'userpage' username=post.author.username %}">{{ post.author.username }}</a>, {{ post.created_at|date:"l, M j, Y" }}</p>
    {% if post.content|length > 39 %}
        <p>{{ post.content|slice:":40" }}...</p>
    {% else %}
        <p>{{ post.content }}</p>
    {% endif %}
</div>
{% endfor %}
<br>
<br>
<a href="{% url 'addpost' %}"><p>add blog posts</p></a>

{% endblock %}
