html {
    color-scheme: light dark;
    --textcolor: light-dark(black, white);
    --maincolor: light-dark(salmon, purple);
    font-size: 3.2vw;
}

body {
    margin: 0;
    background-color: var(--maincolor);
    color: var(--textcolor);
}

div {
    overflow: hidden;
}

nav {
    background-color: salmon;
    overflow: hidden;
}

nav p {
    display: inline;
}

.nav-left {
    float: left;
    width: 40%;
}

.nav-middle {
    text-align: center;
    width: 20%;
    background-color: red;
}

.nav-right {
    float: left;
    width: 20%;
    background-color: blue;
}
