img {
    margin: .5rem auto 0;
    display: block;
    width: 50%;
    max-height: 10rem;
}

.comments {
    clear: both;
    width: 80%;
    margin: 0 auto 0;
}

.blog-post {
    width: 80%;
    margin: 0 auto 0;
}

.leave-comment {
    text-align: center;
}

.leave-comment button {
    width: 5rem;
    height: 2rem;
    font-size: 85%;
}

.leave-comment textarea {
    width: 100%;
    height: 10rem;
}

.comment {
    margin: 1rem 0 0;
    padding: 0 10% 0;
}

.comment p {
    margin: 0;
}

.indented {
    padding-left: 1rem;
}

.tiny {
    font-size: .6rem;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 1.8vw;
    }

    .index-posts {
        column-width: 375px;
    }

    .blog-post {
        width: 60%;
    }

    .comments {
        column-width: 300px;
    }

}

@media screen and (min-width: 1200px) {
    html {
        font-size: 20px;
    }

    .blog-post {
        width: 800px;
    }

    .comments {
        column-width: 375px;
    }

    .comment {
        padding: 0 7.5% 0;
    }

    .leave-comment textarea {
        width: 80%;
        height: 10rem;
    }
}